:root {
  --spacing-none: 0;
  --spacing-x05: 2px;
  --spacing-x1: 4px;
  --spacing-x2: 8px;
  --spacing-x3: 12px;
  --spacing-x4: 16px;
  --spacing-x5: 20px;
  --spacing-x6: 24px;
  --spacing-x8: 32px;
  --spacing-x10: 40px;
  --spacing-x12: 48px;
  --spacing-x14: 56px;
  --spacing-x16: 64px;
  --spacing-x24: 96px;

  --border-radius-none: 0;
  --border-radius-x05: 2px;
  --border-radius-x1: 4px;
  --border-radius-x2: 8px;
  --border-radius-x3: 12px;
  --border-radius-x4: 16px;
  --border-radius-x5: 20px;

  --border-none: 0;
  --border-x025: 1px;
  --border-x05: 2px;

  --font-family-geist: 'Geist', sans-serif;
  --font-family-geist-mono: 'GeistMono', monospace;

  --letter-spacing-normal: 0;
  --letter-spacing-tiny: -0.1em;

  --text-transform-as-typed: none;
  --text-transform-uppercase: uppercase;

  --text-decoration-none: none;
  --text-decoration-underline: underline;

  --line-height-normal: 1.3;
  --line-height-loose: 1.7;
  --line-height-big: 1.5;

  --font-weight-headers: 600;
  --font-weight-paragraphs: 400;
  --font-weight-captions: 300;
  --font-weight-buttons: 400;
  --font-weight-labels: 500;
  --font-weight-links: 500;
  --font-weight-code: 400;

  --font-size-h1: 40px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-p-1: 17px;
  --font-size-p-2: 15px;
  --font-size-p-3: 12px;
  --font-size-links: 15px;
  --font-size-buttons: 15px;
  --font-size-labels-1: 17px;
  --font-size-labels-2: 12px;
  --font-size-code: 12px;
  --font-size-caption: 12px;
}

@media (min-width: 769px) {
  :root {
    --font-size-h1: 48px;
    --font-size-h2: 36px;
    --font-size-h3: 28px;
    --font-size-h4: 24px;
    --font-size-p-1: 20px;
    --font-size-p-2: 16px;
    --font-size-p-3: 14px;
    --font-size-buttons: 16px;
    --font-size-links: 16px;
    --font-size-code: 14px;
    --font-size-caption: 10px;
    --font-size-labels-2: 14px;
  }
}

h1,
.text-h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-big);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: var(--text-transform-as-typed);
  text-decoration: var(--text-decoration-none);
}

h2,
.text-h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-big);
  letter-spacing: var(--letter-spacing-tiny);
}

h3,
.text-h3 {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-normal);
}

h4,
.text-h4 {
  font-size: var(--font-size-h4);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-normal);
}

.text-p-1 {
  font-size: var(--font-size-p-1);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-paragraphs);
  line-height: var(--line-height-loose);
}

.text-p-1-mono {
  font-size: var(--font-size-p-1);
  font-family: var(--font-family-geist-mono);
  font-weight: var(--font-weight-paragraphs);
  line-height: var(--line-height-loose);
  text-transform: var(--text-transform-uppercase);
}

.text-p-2 {
  font-size: var(--font-size-p-2);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-paragraphs);
  line-height: var(--line-height-normal);
}

.text-p-3 {
  font-size: var(--font-size-p-3);
  font-family: var(--font-family-geist-mono);
  font-weight: var(--font-weight-paragraphs);
  line-height: var(--line-height-normal);
  text-transform: var(--text-transform-uppercase);
}

.text-labels-1 {
  font-size: var(--font-size-labels-1);
  font-family: var(--font-family-geist-mono);
  font-weight: var(--font-weight-labels);
  line-height: var(--line-height-normal);
}

.text-labels-2 {
  font-size: var(--font-size-labels-2);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-labels);
  line-height: var(--line-height-normal);
}

.text-button {
  font-size: var(--font-size-buttons);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-buttons);
  line-height: var(--line-height-normal);
  text-transform: var(--text-transform-uppercase);
}

.text-link {
  font-size: var(--font-size-links);
  font-family: var(--font-family-geist);
  font-weight: var(--font-weight-links);
  line-height: var(--line-height-normal);
}

.text-code {
  font-size: var(--font-size-code);
  font-family: var(--font-family-geist-mono);
  font-weight: var(--font-weight-code);
  line-height: var(--line-height-normal);
}

.effect-blur {
  backdrop-filter: blur(20px);
}
